:root{
    --colorPrimario-color:#F6D248;
    --colorSecundario-color:#C83535;
    --fuentePrimaria-text-syle:inter;
    --fuenteSecundaria-text-style: OpenSans;
    --colorTexto-text-color: #282828;
    --colorFondo-background-color: #
}




