:root{
    --boton-ColorPrimario:#F6D248;
    --boton-ColorDestacado:#C83535;

    --texto-Color: #282828;
    --fondo-Color: #FAF3E8;

    --label-Color: #999999;

    --border-radius-NumeroPX:10px;
}
@font-face { font-family: OpenSans; src: url('fonts/OpenSans-Regular.ttf'); } 
@font-face { font-family: Inter; font-weight: bold; src: url('fonts/Inter-Bold.ttf');}


/* =========================================================
 *                Sección: General 
 * =========================================================
 */
body{background-color: var(--fondo-Color);}
main{
    margin: auto;
    margin-top: 24px;
    width: 90%;
    background-color: var(--fondo-Color);
}
h1,h2,h3,h4,h5,h6{
    font-family: Inter;
    color: var(--texto-Color);
}
h1{font-size: 32px;}
h2{font-size: 28px;}
h3{font-size: 26px;}
h4{font-size: 24px;}
h5{font-size: 22px;}
h6{font-size: 20px;}
p, li{
    font-size: 16px;
    font-family: OpenSans;
    color: var(--texto-Color);
}



/* =========================================================
 *                Sección: Componentes 
 * =========================================================
*/

/* Navbar */
body {
  margin: 0;
  padding: 0;
}

a{
  font-size: 26px;
}
.mobile-header {
  background: var(--fondo-Color);
  height: 50px;
  width: 100%;
  display: flex;
}
.logo{
  left: 40%;
  margin-right: 130px;
  
}
.logo-img{
  width: 89px;
  height: 60px;
}
.row:after {
  clear: both;
  content: "";
  display: table;
}

.mobile-nav-toggle {
  position: relative;
  width: 33.33333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.mobile-nav-toggle span {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  width: 35px;
}

.mobile-nav-toggle span:hover {
  cursor: pointer;
}

.mobile-nav-toggle span i {
  background: var(--texto-Color);
  display: block;
  height: 2px;
  width: 100%;
}

.mobile-nav-toggle span i:first-child {
  margin-top: 0;
}

.mobile-top-bar-space {
  display: flex;
  height: 215px;
}

.mobile-nav-toggle.close {
  color: var(--texto-Color);
  height: 25px;
  text-align: center;
  width: 35px
}

.mobile-nav-toggle.close:hover {
  cursor: pointer
}
.main-navigation{
  top:215px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


.main-navigation a {
  color: var(--texto-Color);
  text-decoration: none;
}

/* sliding menu CSS */

.navigation {
  -moz-transition: linear left 0.5s;
  -o-transition: linear left 0.5s;
  -webkit-transition: linear left 0.5s;
  transition: linear left 0.5s;
  background: var(--fondo-Color);
  height: 100%;
  overflow: auto;
  padding-bottom: 100px;
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
}

.navigation.open {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  left: 0
}



.slide {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo opaco */
  backdrop-filter: blur(10px); /* Desenfoque */
}





/* let the nav scroll, not body */
.mobile-nav-overlay {
  position: fixed;
  top: 0;
  left: 80%;
  width: 20%; /* El 20% del costado que se aplicará el efecto */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
  backdrop-filter: blur(10px); /* Desenfoque */
  z-index: 9999;
  display: none;
}



body.mobile-nav-open .mobile-nav-overlay{
  overflow: hidden;
  display: block;
}

.site-content {
  transition: filter 0.3s ease;
}

body.mobile-nav-open .site-content {
  filter: blur(10px);
}
body.mobile-nav-open  {
  background-color: transparent; /* Ocultar fondo de la barra de navegación */
}
.navigation.open{
  background-color: var(--fondo-Color);
}
.opciones-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  flex-direction: column;
  bottom: 0;
}

.signup-button {
  width: 269px;
  height: 43px;
  margin-right: 7px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--fondo-Color);
  font-size: 22px;
  font-family: 'Inter';
  font-weight: 600;
  cursor: pointer;
}

.login-button {
  width: 269px;
  height: 43px;
  margin-right: 7px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Inter';
  color: var(--texto-Color);
  background-color: var(--boton-ColorPrimario);
  cursor: pointer;
}
.logout-button {
  width: 269px;
  height: 43px;
  margin-right: 7px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Inter';
  color: var(--texto-Color);
  background-color: var(--boton-ColorDestacado);
  cursor: pointer;
}

.ingresar-redes {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.redes{
  width: 80%;
  display: flex;
  margin:5px;
  justify-content: space-around;
}
.iconos{
  height: 34px;
  width: 34px;
  display: block;
}
.paginas{
  margin-top: 231px;
  height: 133px;
}
.paginas a{
  margin:11px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--texto-Color)
}
.paginas a:hover{
  text-decoration: none;
}

@media (min-width: 1024px) {
    main{
        max-width: 1440px;
    }
    section{
        display: flex;
        justify-content: center;

        margin-bottom: 20px;
    }
    section.dos-partes{
        flex-direction: row;
    }
    section div{
        width: 50%;
    }
    section div img{
        width: 100%;
        margin: auto;
    }
    p,h1,h2,h3,h4{
        text-align: center;
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
    }
    section.dos-partes p, section.dos-partes h1, section.dos-partes h2, section.dos-partes h3{
        text-align: start;
        width: 90%;
        margin-bottom: 10px;
    }
  .navigation {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    display:flex;
    width: 100%;
    
    
  }
  .mobile-nav-overlay {
    position: fixed;
    top: 0;
    left: 100%;
    width: 0%; /* El 20% del costado que se aplicará el efecto */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro */
    backdrop-filter: none; /* Desenfoque */
    z-index: 9999;
    display: none;
  }
  
  body.mobile-nav-open .site-content {
    filter: none;
  }
  body.mobile-nav-open  {
    background-color: none; /* Ocultar fondo de la barra de navegación */
  }
  .navigation.open{
    height: 100px;
  }
  .site-content {
    transition: none;
  }
  .mobile-nav-toggle{
    display: none;
  }
  .logo{
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    
  }
  .logo-img{
    width: 89px;
    height: 60px;
  }
  .main-navigation,
  .paginas,
  .ingresar-redes,
  .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    width: 100%;
  }
  .ingresar-redes{
    padding-left:20%;
  }
  .main-navigation {
    flex-direction: row;
    align-items: center;
  }

  .paginas a{
    display: inline-block;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-left: 10px;
  }


  .opciones-usuario {
    display: inline-block;
    margin-right: 10px;
  }

  .signup-button,
  .login-button,
  .logout-button{
    padding: 7px 10px;
    height: auto;
    width: auto;
  }

  .iconos{
    margin:10px;
  }
}



/* Noticia */




/* =========================================================
 *                Sección: Paginas
 * =========================================================
*/

/* index */
h1{
    font-size: 44px;
}
section img{
    width: 100%;
}
span.destacado{
    color:var(--boton-ColorPrimario);
    text-shadow: 4px 4px 0 var(--texto-Color),
    -2px -2px 0 var(--texto-Color),  
     2px -2px 0 var(--texto-Color),
    -2px  2px 0 var(--texto-Color),
     2px  2px 0 var(--texto-Color);;

}



/* Iniciar Sesion */ /* Registrarse */

body{  
    align-items: center;
    background-color: #FAF3E8;
    display: flex;
    justify-content: center;
  }
.sesion {
    background-color: #FAF4EA;
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 320px;
    margin-top: 20%;
  }
  .sesion-short{
    height: 400px;
  }
  .sesion-short .submit{
    margin-top: 40px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  .ic2{
    margin-top: 30px;
  }
  .input {
    background-color: #FAF3E8;
    border: 1px solid #000000;
    border-radius: 12px;
    box-sizing: border-box;
    color: #000000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #FAF4EA;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 80px;
  }
  
  
  .cut-short {
    width: 50px;
  }
  
  
  .cut-long {
    width: 120px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #b1afad;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #000000;
  }
  
  .submit {
    background-color: #F6D248;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #e4c444;
  }
  
  #terminos{
    color: #b1afad;
  }
  #terminos input{
    margin-top: 6px;
  }
  #textoAlerta{
    margin-top: 3px;
    margin-bottom: 0;
    background-color: #C83535;
    border-radius: 4px;
  }
/* Reportar Avistamiento */

.container {
    background-color: #FAF3E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .form{
    background-color: #FAF4EA;
  }
  
  .center-input{
    width: 290px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-top: 5px;
    text-align: center;
  }
  
  #myMap{
    height: 300px;
    width: 300px;
  }
  #baseMap{
    height: 300px;
    width: 300px;
    color: white;
  }
  
  
  .abejorro-container {
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .abejorroimg {
    height: 200px;
    width: 200px;
    padding: 0;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .radio-label {
    margin-top: 10px;
  }
  #textArea{
    width: 300px;
    height: 200px;
    border-radius: 10px;
  }
  
  #submit{
    background-color: #F6D248;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  
  #myCanvas{
    width: 300px;
    height: 300px;
  }




/* Noticias */
#buscador-noticias{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(img/lupa.png);
    background-position: 17px 14px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 45px;
    border: 1px #282828 solid ;
    border-radius: var(--border-radius-NumeroPX);
    font-size: 22px;
    margin-bottom: 8px;
}
#buscador-noticias::placeholder {
    color: var(--label-Color);
}
#buscador-noticias::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    margin-left: .4em;
    background-image: url("img/cancelar.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 16px 16px;
    cursor: pointer;
}
#buscador-noticias::-webkit-search-cancel-button:hover {
    background-image: url("img/cancelar_hover.png");
}
.card{
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--texto-Color) ;
    border-radius: 6px;
    margin-bottom: 8px;
}
.card div{
    width: 95%;
    margin: auto;
}
.card div h3{
    line-height: 39px;
    margin: 0px;
}
.card div p{
    line-height: 22px;
}
.card img{
    border-radius: 6px 6px 0 0;
}
/* Noticia */
.contenido-noticia{

    border: 10px solid var(--fondo-Color);
    position: absolute; 
    top: 200px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: var(--border-radius-NumeroPX);
}
.contenido-noticia h1, .contenido-noticia p{
    margin: 0px;
}